@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import "./components/header.scss";
@import "./components/main.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    background-color: lightsteelblue;
    font-family: 'Poppins', sans-serif;
}